@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron{
        background-image: url(../../Content/Images/home.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        color: #fff;
    }
</style>
<div class="jumbotron">
    <h1>Banshe S.A</h1>
    <p class="lead">Somos una empresa dedicada a la comercialización de bicicletas para ciclomontañismo</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes <span class="glyphicon glyphicon-user"></span></h2>

        <p>Gestiona la información básica de tus clientes nuevos y antiguos.</p>

    </div>
    <div class="col-md-4">
        <h2>Vendedores <span class="glyphicon glyphicon-briefcase"></span></h2>

        <p>Administra la información de todos tus vendedores para tener un mayor control sobre los datos registrados por ellos.</p>

    </div>
    <div class="col-md-4">
        <h2>Movimientos <span class="glyphicon glyphicon-credit-card"></span></h2>
        <p>Conoce los movimientos de tus clientes mediante reportes calculados por nuestra plataforma.</p>
    </div>
</div>